<div class="login-overlay" (click)="closeLoginHandler($event)">
  <div class="login-holder">
    <form class="login-form">
      <h2 class="title">Login</h2>
      <fieldset>
        <div class="input-field">
          <label for="user">E-mail ou nome de usuário</label>
          <input type="text" id="user" [(ngModel)]="login" name="login">
        </div>
        <div class="input-field">
          <label for="pwd">Senha</label>
          <input type="password" id="pwd" [(ngModel)]="password" name="password">
        </div>
      </fieldset>
      <div class="btn-holder">
        <button type="button" class="login-btn" (click)="loginHandler()">Entrar</button>
      </div>
    </form>
  </div>
</div>