.register {
    
    $white: white;
    $primary-light: #AA076B;
    $gray: #747474;
    $light-gray: #c3c3c3;

    height: 100%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
        text-align: center;
        font-size: 24px;
        color: $primary-light;
    }

    .form-content {
        display: flex;
        flex-flow: row;
        flex-grow: 1;
        justify-content: space-between;
        flex-wrap: wrap;

        .input-field {
            display: flex;
            flex-direction: column;
            width: 30%;
            
            .mat-input-element{
                caret-color: $primary-light;
            }
            
            label {
                font-size: 16px;
                color: $gray;
                margin-bottom: 5px;
            }
                
            input {
                height: 30px;
                font-size: 16px;
                color: $primary-light;
                letter-spacing: 1px;
                    
                &#pwd {
                    letter-spacing: 3px;
                }
            }

            .mat-select {
                height: 30px;
                font-size: 16px;
                letter-spacing: 1px;

                .mat-select-trigger {
                    top: 5px;
                    .ng-star-inserted {
                        color: $primary-light;
                    }
                }
            }
        }
    }

    .btn-holder {
        display: flex;
        justify-content: flex-end;
        
        &.center {
            justify-content: center;
        }

        button {
            font-size: 20px;
            color: $primary-light;
            box-shadow: inset 0px 15px 0px 0px $white, inset 0px -1px 0px $primary-light;

            &.cancel {
                color: $gray;
                box-shadow: inset 0px 15px 0px 0px $white, inset 0px -1px 0px $light-gray;
                margin-right: 30px;
            }

            &.sending {
                color: $gray;
                box-shadow: none;
                cursor: default;
            }
        }
    }
}