<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <bv-scrollbar>
      <mat-nav-list>
        <bv-sidenav-item *ngFor="let item of itemsList" [item]="item"></bv-sidenav-item>
      </mat-nav-list>
    </bv-scrollbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <bv-scrollbar>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{ settings.appTitle }}</span>
      </mat-toolbar>
      <!-- ROUTER / Start -->
      <div class="content-area">
        <ng-content></ng-content>
      </div>
      <!-- ROUTER / End -->
    </bv-scrollbar>
  </mat-sidenav-content>
</mat-sidenav-container>
