<header class="header">
  <h1 class="title">Enjoojei</h1>

  <!-- Barra De Busca -->
  <div class="row">
    <mat-form-field id="barra-busca" appearance="outline" class="busca" [floatLabel]="never">
      <!-- <mat-label class="">Precisa encontrar alguma coisa?</mat-label> -->
      <input matInput placeholder="Precisa encontrar alguma coisa?" class="">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <app-header-nav *ngIf="!showMenu" (loginAction)="openLoginHandler()" (menuAction)="menuHandler()" [id]="id" [user]="user"></app-header-nav>
</header>
<app-user-menu *ngIf="showMenu" (closeMenu)="closeMenu()" (logoutAction)="logoutHandler()" [user]="user"></app-user-menu>

