<header class="header">
  <h1 class="title">Enjoojei</h1>

  <!-- Barra De Busca -->
  <div class="row">
    <mat-form-field id="barra-busca" appearance="outline" class="busca" [floatLabel]="never">
      <!-- <mat-label class="">Precisa encontrar alguma coisa?</mat-label> -->
      <input matInput placeholder="Precisa encontrar alguma coisa?" class="">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <app-header-nav (loginAction)="openLoginHandler()" (logoutAction)="logoutHandler()" [id]="id"></app-header-nav>

</header>

