<header class="header">
  <h1 class="title">
    <a routerLink="/home" routerLinkActive="active">Enjoojei</a>
  </h1>

  <!-- Barra De Busca -->
  <div class="row">
    <form class="search">
      <input [(ngModel)]="search" name="search" placeholder="Precisa encontrar alguma coisa?" class="">
      <button type="button" (click)="searchAction()"><mat-icon matSuffix>search</mat-icon></button>
    </form>
  </div>
  <app-header-nav *ngIf="!showMenu" (loginAction)="openLoginHandler()" (menuAction)="menuHandler()" [id]="id" [user]="user"></app-header-nav>
</header>
<app-user-menu *ngIf="showMenu" (closeMenu)="closeMenu()" (logoutAction)="logoutHandler()" [user]="user"></app-user-menu>