$primary-light: #AA076B;
$white: white;
$gray: #747474;

.list-title {
    margin: 50px 0;
    font-size: 24px;
    color: $primary-light;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .product-container {
        width: 23.5%;
        margin-bottom: 50px;

        .product-picture {

            img {
                width: 100%;
                border-radius: 5px;
                display: block;
                cursor: pointer;
                &:hover {
                    filter: brightness(.9);
                }
            }
        }

        .product-info {
            font-size: 18px;
            margin-top: 10px;
            text-align: center;

            .product-name {
                margin-bottom: 5px;
            }

            .product-price {
                color: $primary-light;
            }
        }
    }
}

.btn-holder {

    display: flex;
    justify-content: center;

    button {
        font-size: 20px;
        color: $primary-light;
        box-shadow: inset 0px 15px 0px 0px $white, inset 0px -1px 0px $primary-light;

        &.loading {
            color: $gray;
            box-shadow: none;
            cursor: default;
        }
    }
}

.loadingOverlay {
    text-align: center;
    font-size: 20px;
    padding-top: 300px;
    color: $gray;
}