<div class="login-overlay" (click)="closeLoginHandler($event)">
  <div class="login-holder {{loginClass}}">
    <form *ngIf="showLoginForm" class="login-form">
      <h2 class="title">Login</h2>
      <fieldset>
        <div class="input-field">
          <mat-form-field>
            <input matInput placeholder="E-mail ou nome de usuário" id="user" [(ngModel)]="email" name="login">
          </mat-form-field>
        </div>
        <div class="input-field">
          <mat-form-field>
            <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'" id="pwd" [(ngModel)]="password" name="password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
      </fieldset>
      <div *ngIf="!loading" class="btn-holder">
        <button type="button" class="login-btn register" (click)="openRegister()">Criar conta</button>
        <button type="button" class="login-btn" (click)="loginHandler()">Entrar</button>
      </div>
      <div *ngIf="loading" class="btn-holder center">
        <button type="button" class="login-btn sending" disabled>Enviando, por favor aguarde</button>
      </div>
    </form>

    <app-register *ngIf="showRegisterForm" (closeRegister)="closeRegisterAction()"></app-register>
  </div>
</div>