<!-- <div class="content">
  <app-header (openLogin)="openLogin()"></app-header>
  <div class="col">
    <div class="product-picture">
      <img [src]="product.cover">
    </div>
    <div class="product-info">
      <h3 class="product-name">{{product.name}}</h3>
      <strong class="product-price">R$ {{product.price}}</strong>
      <h4>{{product.marca}}</h4>
      <h4>{{product.condicao}}</h4>
    </div>
  </div>
</div> -->

<div class="content">
    <app-header (openLogin)="openLogin()"></app-header>
  </div>
  <app-login *ngIf="showLogin" (closeLogin)="closeLogin()"></app-login>

  <div class="row">
    <div class="col">
      <div *ngFor="let product of productDetails" >
        <div class="product-picture">
          <img [src]="product.cover">
        </div>
      </div>
    </div>
  </div>
